{
    "MinMax": {
        "_type": "MinMax",
        "model-file": "./tmp/min-max.model",
        "features": [windowsize, length],
        "preprocessors": [],
        "trainon": 1.0,
        "save-training": null,
        "allow-none": false,
        "threshold": 1.0,
        "discrete_threshold": 10
    },

    "Exists": {
        "_type": "Exists",
        "model-file": "./tmp/exist.model",
        "exclude": [seqnr, ack, ],
        "threshold": 10
    },

    "inter-arrival-mean": {
        "_type": "inter-arrival-mean",
        "model-file": "./tmp/inter-arrival-mean.model",
        "N": 4,
        "W": 5,
        "alert_unknown": true
    },

    "inter-arrival-range": {
        "_type": "inter-arrival-range",
        "model-file": "./tmp/inter-arrival-range.model",
        "N": 4,
        "W": 5,
        "alert_unknown": true
    },

}
